* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px;
}

header {
    background-color: gray;
    padding: 10px;
}

aside {
    width: 250px;
    margin: 20px auto;
    border: 2px solid #333;
    padding: 15px;
    background-color: #f0f0f0;
    color: #333;
}

.image-wrapper {
    position: relative;
}

.image-wrapper h2 {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(185, 179, 179, 0.6);
    color: white;
    padding: 5px 10px;
    margin: 0;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 2px solid #333;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    float: right;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 2px solid #333;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

h1 {
    color: #333;
}

/*Class selectors*/
.box {
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(216, 216, 224);
}